<div class="container">

  <h1>Waiter Wap App</h1>
  <form  method="post">

    <div class="displayMsg">
      {{#if messages.info}}
      <span class="msg">{{messages.info}}</span>
      {{/if}}
    </div>

    <div class="table-responsive-md col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            {{#each weekdays}}
            <th class=" col-2">
              <label class="switch">
                <input type="checkbox" class="" name="day" value= {{id}} >{{shif_days}}
                <span class="slider round"></span>
                </label>
              {{weekdays}}
            </th>
            {{/each}}
          </tr>
        </thead>

      </table>
    </div>
    <div class="displayMsg">
      {{#if messages.err}}
      <span class="err">{{messages.err}}</span>
      {{/if}}
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>